# --- SECURITY FILES ---
# Environment files
.env
.env.*
!.env.example

# Keystore files
*.keystore
!debug.keystore

# Secrets and API Keys
google-services.json
GoogleService-Info.plist
*.pem
*.p12
*.key

# Local configuration
local.properties
**/.xcode.env.local

# --- SYSTEM & BUILD FILES ---
# node.js
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log*
pnpm-debug.log*

# Android/IntelliJ
android/app/build/
android/build/
android/app/.cxx/
.idea/
.gradle/
*.iml
*.hprof
.cxx/
.kotlin/

# OSX & Xcode
.DS_Store
build/
ios/build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Metro / React Native cache & Bundler outputs
.expo/
.expo-shared/
.bundle/
.tmp/
tmp/
*.tmp
*.jsbundle
.metro-health-check*
dist/

# fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# testing
/coverage

# VS Code and logs
.vscode/
*.log

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions